<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            class="ui.display.perspective.Perspective"
            icon="icons/PESTTMuTest.gif"
            id="PESTTMuTest.Perspective"
            name="PESTTMuTest">
      </perspective>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <category
            id="PESTTMuTest.Category"
            name="PESTTMuTest">
      </category>
      <view
            allowMultiple="true"
            category="PESTTMuTest.Category"
            class="ui.display.views.ViewMutationOperator"
            id="PESTTMuTest.MutationOperator"
            name="Mutation Operator"
            restorable="true">
      </view>
      <view
            allowMultiple="true"
            category="PESTTMuTest.Category"
            class="ui.display.views.ViewMutants"
            id="PESTTMuTest.Mutants"
            name="Mutants"
            restorable="true">
      </view>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="ui.preferences.PreferenceInitializer">
      </initializer>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            class="ui.preferences.PreferencePage"
            id="PESTTMuTest.PreferencesPages"
            name="PESTTMuTest">
      </page>
   </extension>


</plugin>
